.background-cover {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(http://placehold.it/1440x750&text=1);
  }
  .slide {
      height: 100vh;
      @extend .background-cover;
      &--1{
          background-image: url(http://placehold.it/1440x750&text=1);
      }
      &--2{
          background-image: url(http://placehold.it/1440x750&text=2);
      }
      &--3{
          background-image: url(http://placehold.it/1440x750&text=3);
      }
  }
  