.slick-dots {
    position: absolute;
    bottom: 25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;

    li {
        position: relative;
        display: inline-block;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;

        button {
            position: relative;
            background-color: #fff;
            opacity: 0.65;
            width: 50px;
            height: 15px;
            padding: 0;
            font-size: 0;
            cursor: pointer;
        }

        &.slick-active button {
            color: #fff;
            opacity: 0.90;
        }
    }
}